.documentsHolder{
    button{
        color: white;
        background-color: #8da4f1;
        border: 2px solid white;
        border-radius: 10px;
    }
    button:hover{
        background-color: #4f65ac;
    }
    input{
        background-color: rgb(180, 180, 180);
        border: 2px solid white;
        border-radius: 10px;
        margin-top: 1%;
    }
    .submitDocument{
        position: absolute;
        left: 75%;
        top: 55%
    }
    .showIfDocumendIsMade{
        background-color: #222;
        position: absolute;
        color: white;
        padding: 10px 10px 10px;
        top: 50%;
        left: 10%;
        width: 50%;
    }
    .hideIfDocumentIsNotMade{
        display: none;
    }
}