.illnesContainer{
    margin-top: 5%;
    background-color: #8e8eff;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.illnessName{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.illnessImage{
    .illImage{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
}

.illnessDecription{
    color: #ffffff;
    font-weight: bold;
    width: 60%;
    font-size: larger;
}

.illnessTreatment{
    color: #ffffff;
    font-weight: bold;
    width: 60%;
    font-size: larger;
}