.user-documents-container{
    color :black;
    button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 150%;
    }
      button:hover{
        color: rgb(201, 201, 201);
    }

    .documents{
        position:absolute;
        top: 20%;
        left:50%;
    }
}
